<h1>Editar Evento</h1>
<div id="eventList"></div>
<div id="editFormContainer" style="display: none;">
    <h2>Editar Evento Seleccionado</h2>
    <form id="editEventForm">
        <label for="editEventName">Nombre:</label>
        <input type="text" id="editEventName" required>
        <label for="editEventDescription">Descripción:</label>
        <textarea id="editEventDescription" required></textarea>
        <label for="editEventCapacity">Capacidad:</label>
        <input type="number" id="editEventCapacity" required>
        <label for="editEventDate">Fecha:</label>
        <input type="date" id="editEventDate" required>
        <button type="submit">Guardar Cambios</button>
        <button id="cancelEditBtn" type="button">Cancelar</button>
    </form>
</div>
<button id="backBtn">Volver</button>