<div class="login-container">
    <h1>Iniciar Sesión</h1>
    <form id="loginForm">
        <label for="username">Usuario:</label>
        <input type="text" id="username" placeholder="Ingresa tu usuario" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" placeholder="Ingresa tu contraseña" required>
        <button type="submit">Iniciar Sesión</button>
    </form>

    <button id="registerViewBtn">Registrarse</button> <!-- Botón para abrir la vista de registro -->
</div>
</script>